@media only screen and(max-width:576px){
    
    .Myslider{
        .Read{
            .slider-text{  
               
                font-size: 90px !important;
                
            }
        }
    }
    #stories .container-fluid .white_bg{
        height: 138vh;
        .img-responsive {
    margin-top: 32px;
}
    } 
    
}