@media only screen and(max-width:1200px){
    .readmore_bt{
        top: 550px !important; 
    }
    #stories .container-fluid .white_bg{
        height: 100vh;
        .img-responsive{
            margin-top: 100px;
        }
    }
    #fitness{
        img{
            height: 107vh;
        }
    }
    #popular{
        height: 100vh;
    }
    #stories{
        .white_bg{
            height: 80vh !important;
        }
    }
    #contacmail{
        z-index: 15;
    }
}