@media only screen and(max-width:1200px){
    .readmore_bt{
        top: 700px !important; 
    }
    #stories .container-fluid .white_bg{
        height: 100vh;
        .img-responsive{
            margin-top: 100px;
        }
    }
    
}