#inner_page_banner{
    height: 50vh;
    h3{ 
        color: #fff;
        font-size: 40px;
        padding-top: 180px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700; 
    }
}
#fitness{
    padding: 20px 0;
}