.Myslider {
  position: relative;
  img {
    height: 100vh;
    width: 100%;
  }
  .Read {
    padding-left: 0;
    .slider-text {
      color: #ffff;
      position: absolute;
      z-index: 1;
      top: 290px;
      left: 14%;
      font-size: 100px;
      font-weight: 400;
      padding: 0;
      text-transform: uppercase;
      .theme_color {
        color: #00cc99;
        font-weight: 700;
      }
    }
    .readmore_bt {
      color: white;
      position: absolute;
      z-index: 2;
      top: 540px;
      left: 14%;
      text-decoration: none;
      font-size: 24px;
      font-weight: 400;
      &:hover {
        color: #00cc99;
      }
    }
  }
  .carousel-indicators {
    bottom: 15px;
    li {
      width: 36px;
      height: 8px;
      border-radius: 43%;
    }
  }
}
#inner_page_banner {
  position: relative;
  .full{
    display: flex;
    justify-content: center;
    // align-items: center;
     h3 {
    position: absolute;
    z-index: 20;
  }
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 50vh;
    
  }
  }
 
}
