.trainer-details{
    .trainer-details-content{
        h2{
            color: #303030;
            font-family: "Open Sans",sans-serif;
            font-size: 32px;
            margin-bottom: 3px;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }
        h5{
            font-size: 22px;
            color: #929292;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 40px;
            font-weight: 400;
        }
        h4{
            font-size: 24px;
            color: #303030;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 18px;
            font-weight: 700;
            text-transform: uppercase;
         }
         p{
             font-size: 14px;
                color: #606060;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 38px;
         }
         ul{
             list-style: outside none none;
            margin: 0;
            padding: 0;
            li{
                font-weight: 600;
                margin-bottom: 15px;
                color: #606060;
                span{
                    font-size: 14px;
                    color: #303030;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
         }
        .readmore_bt{
             width: 195px;
            height: 55px;
            float: left;
            text-align: center;
            line-height: 55px;
            border: solid #00cc99 1px;
            font-size: 20px;
            margin-top: 10px;
            background: #fff;
            font-weight: 700;
            text-decoration: none;
            color: black;
            &:hover {
            color: #00cc99;
            }
        }
    }
}